
html {
    height: 100%; 
    margin: 0px; 
  }
body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    height: 100%;
}


  #topleft {
      width: 100%;
      height: 200px;
      text-align: left; 
      margin: auto; 
  }

  #toplefttext {
      position: relative;
      left: 50px;
      bottom: 25px;
      
  }
  #topright {
      width: 100%;
      height: 100px;
      text-align: right;
      margin: auto;
      position: relative;
  }
  #toprighttext {
      position: relative;
      left: 250px;
      bottom: 25px;
  }
  .GameBoard {
    position: relative; 
    top: 50px; 
    left: 50px;
    bottom: 50px;
    right: 50px;
    text-align: center;
}
header {
    position: relative;
    display: flex;
}
#topleft img {
    width: 200px;
    height: 200px;    
}

#topright img {
    margin-top: 0px;
    
}

#middle {
    text-align: center;
    position: relative;
}
#blackbar {
    width: 100%;
    background-color: rgb(3, 3, 3);
}
main {
    position: relative;
}
#ChessPiece{
    font-size: 50px;
    position: relative;
}

#GameBoard {
    margin: auto;
    width: 480px;
    height: 480px;
    border: solid 4px #333;
    position: relative;
    top: 100px;
    font-size: 50px;
    text-align: center;   
  }
  
  #GameBoard .row {
    margin: 0;
  }
  
  .square {
    height: 60px;
    width: 60px;
    background: #efefef;
    float: left;

  }
  .square.white:hover {
      font-size: 55px !important;
      vertical-align: middle;
  }
  .square.black:hover {
    font-size: 55px !important;
}
.square.white:active {
    font-size: 55px !important;
    background: lightgreen;
}
.square.black:active {
  font-size: 55px !important;
  background: lightgreen;
}
  .square.white {
    background: #fff;
  }
  
  .square.black {
    background: gray;
  }
  