<!DOCTYPE html>
<!--    Note: this file is not in use any longer, it is superseded by splash.ejs which
        is an almost exact copy (apart from template tags).
-->
<html>

<link type="text/css" rel="stylesheet" href="stylesheets/SplashStyle.css" />

<head>
    <title>
        Chess game for 2 players!
    </title>
</head>

<body>
        <div id="animation">&#9823;</div>
    <header>

        <section id="center">
            <img src="images/Chesslogo.png" id="logo">
            <div class="button">
                    <p><input type="button" value="Play Now!" class="play" onclick="location.href='game.html';"></p>
                </div>

                <div class="button2">
                    <p><input type="submit" value="Statistics" class="play" onclick="showStats()"></p>
                </div>
        </section>
        <section id="blackbar"></section>
    </header>

    <main>

        <section id="h2p">
            <!--add images here -->
            <h2>How to play</h2>
            <div class="text">You play this game by applying the basic chess rules</div>
        </section>

        <div id="stats">
            <h2>Statistics </h2>
            <div class="text">Amount of live game(s): <%= liveGames %> <br>
                Online players:<%if (onlinePlayers != 1) { %>
                  <%  onlinePlayers +=1;}%>
                 <%= onlinePlayers %> <br>
                Total amount of games played: <%= totalGames %></div>
                <div id="cookie"></div>
                </div>


        <section id="right">
            <a href="localhost\game.html">
        </section>
    </main>

</body>
<script src="javascripts/cookie.js"></script>

</html>